/* Se aplica en contactanos */
#formulario-contacto{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px 0px #00000040;
    border-radius: 20px;
}
.columna-cuestionario{
    margin: 25px;
}
.input-group{
    width: 50%;
}
.form-control{
    border: 0.5px solid #674636;
}
.input-group-text{
    border: 0.5px solid #674636;
}
.btn_cuestionario{
    color: #FFFFFF;
    background-color: #AAB396;
}
.error-text{
    color: red;
    font-size: 12px;
}

@media (max-width: 600px) {
    #formulario-contacto{
        background-color: #FFFFFF;
        border-radius: 0px;
        margin-left: 0px !important;
        box-shadow: none;
    }
    .imagen-portada{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}