/* Estilos página productos */
.h2-productos{
    font-size: 50px;
    color: #151411;
}
.categoria{
    font-size: 18px;
    font-weight: bold;
    color: #AAB396;
}
.nombre-producto{
    font-size: 26px;
    font-weight: bold;
    color: #151411;
    text-align: center;
}
.descripcion-producto{
    font-size: 18px;
    font-weight: normal;
    color: #674636;
    text-align: justify;
}
.precio{
    font-size: 24px;
    font-weight: bold;
    color: #151411;
}
#products-container {
    display: flex;
    flex-wrap: wrap; 
}
.card{
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.modal-content{
    background-color: #AAB396 !important;
}
.form-control{
    border-radius: 10px !important;
    margin-right: 3%;
    background-color: #FFF8E8;
}
.form-label{
    width: 50% !important;
    text-align: center;
    font-size: 25px;
}
.modal-title{
    text-align: center !important;
    font-size: 60px !important;
    width: 95%;
}
.btn-enviar{
    background-color: #674636;
    color: #FFF8E8;
    border-radius: 10px;
    font-size: 25px;
}
.btn-agregar{
    background-color: #674636;
    color: #FFF8E8;
    border-radius: 10px;
    font-size: 25px;
}
.btn-secondary{
    background-color: #FFF8E8;
    color: #674636;
    border-radius: 10px;
    font-size: 25px;
}
.btn-enviar:hover{
    background-color: #FFF8E8;
    color: #674636;
}
.btn-agregar:hover{
    background-color: #FFF8E8;
    color: #674636;
}
.btn-secondary:hover{
    background-color: #674636;
    color: #FFF8E8;
}
@media (max-width: 778px) {
    .p-productos {
        font-size: 14px;
        color: #AAB396;
        padding-right: 37px;
        padding-left: 37px;
    }
    .h2-productos{
        font-size: 18px;
        color: #151411;
    }
    .categoria{
        font-size: 12px;
        font-weight: bold;
        color: #AAB396;
    }
    .nombre-producto{
        font-size: 13px;
        font-weight: bold;
        color: #151411;
    }
    .descripcion-producto{
        font-size: 12px;
        font-weight: normal;
        color: #674636;
    }
    .precio{
        font-size: 14px;
        font-weight: bold;
        color: #151411;
    }
    .card{
        margin: 0px !important;
    }
    .product{
        padding: 0px;
        
    }
    .modal-title{
        text-align: center !important;
        font-size: 35px !important;
        width: 95%;
    }
    .form-label{
        width: 50% !important;
        text-align: center;
        font-size: 18px;
    }
    .btn-enviar,.btn-secondary.btn-agregar{
        font-size: 15px;
    }
    .btn-agregar{
        font-size: 12px;
    }
}