/* Estilos página productos */
.h2-productos{
    font-size: 50px;
    color: #151411;
}
.categoria{
    font-size: 18px;
    font-weight: bold;
    color: #AFADB5;
}
.nombre-producto{
    font-size: 26px;
    font-weight: bold;
    color: #151411;
}
.descripcion-producto{
    font-size: 18px;
    font-weight: normal;
    color: #AFADB5;
}
.precio{
    font-size: 24px;
    font-weight: bold;
    color: #151411;
}
#products-container {
    display: flex;
    flex-wrap: wrap; 
}
.card{
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@media (max-width: 600px) {
    .p-productos {
        font-size: 14px;
        color: #AFADB5;
        padding-right: 37px;
        padding-left: 37px;
    }
    .h2-productos{
        font-size: 18px;
        color: #151411;
    }
    .categoria{
        font-size: 12px;
        font-weight: bold;
        color: #AFADB5;
    }
    .nombre-producto{
        font-size: 13px;
        font-weight: bold;
        color: #151411;
    }
    .descripcion-producto{
        font-size: 12px;
        font-weight: normal;
        color: #AFADB5;
    }
    .precio{
        font-size: 14px;
        font-weight: bold;
        color: #151411;
    }
    .card{
        margin: 0px !important;
    }
    .product{
        padding: 0px;
        
    }
    
}