body {
    background-color: #FFF8E8 !important;
    font-family: "Poppins", sans-serif;
    ;
    font-size: 18px;
}

.text-justify {
    text-align: justify;
}

.portada {
    width: 100%;
}

.equipo {
    width: 100%;
}

.logo {
    width: 250px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 60px;
    color: #AAB396;
    text-align: center;
    font-weight: normal;
}

.navbar-toggler {
    width: 35px;
    height: 35px;
    padding: 0px;
}

.navbar-toggler-icon {
    width: 20px;
    height: 20px;
}

.color-black {
    color: black;
}

.color-brown {
    color: #674636;
}

footer {
    font-size: 16px;
}

@media (max-width: 600px) {
    .logo {
        width: 170px;
    }

    .navbar-toggler {
        width: 25px;
        height: 25px;
        padding: 0px;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }

    .perfil-car {
        width: 25px;
        height: 25px;
    }

    .valores-icon {
        display: none;
    }

    h2 {
        font-size: 36px;
        color: #000000;
        font-weight: bold;
        text-align: left !important;
    }

    h1 {
        font-size: 36px;
        color: #000000;
        font-weight: bold;
    }
    h3{
        font-size: 25px;
        color: #000000;
    }

    footer {
        font-size: 9px;
        margin-bottom: 10px;
    }

    .footer-icon {
        width: 25px;
    }

    .titulo_tarjeta{
        margin: 25px;
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 10%;
        height: 25px;
    }
    .numero_tarjeta{
        font-size: 50px;
    }

}

.card-container {
    perspective: 1000px;
}

.flip-card {
    width: 300px;
    height: 300px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
}

.flip-card-front {
    background-color: #fff;
    z-index: 2;
    transform: rotateY(0deg);
}

.flip-card-back {
    background-color: #f8f9fa;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back p {
    margin: 0;
    font-size: 1.2rem;
    color: #000;
}

/* Se aplica en servicios */
.card-text{
    text-align: justify;
    font-size: 18px;
}
.middle_image{
    margin: 0px 0px 35px 0px;
}
.tarjeta_servicios{
    display: flex;
    align-items:center;
    flex-direction: column;
    
}
.card-title{
    text-align: center;
}
.numero_tarjeta{
    color: #AAB396;
    font-size: 60px;
}